{% extends "okazoannoncesBundle::layout.html.twig" %}

{% block header_javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('bundles/mopabootstrap/js/mopabootstrap-collection.js')}}"></script>
{% endblock header_javascripts %}

{% block websiteHeader_Right %}
    <h1>Nouvelle Annonce</h1>
{% endblock websiteHeader_Right %}

{% block body %}
    <div class="container">
        <div class="col-lg-9 col-centered">
            {%if form is defined %}
            <form action="{{ path('annonces_new') }}" method="post" {{ form_enctype(form) }}>
                <div class="row well">
                {{ form_errors(form) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.texte) }}
                {{ form_row(form.prix) }}
                {{ form_row(form.codepostal) }}
                {{form_row(form.images)}}
        {#
            <h3>Images</h3>
            <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e}}">
                {# itère sur chaque tag existant et affiche son unique champ : name #}
            {#
                {% for image in form.images %}
                    <li>{{ form_row(image.file) }}</li>
                {% endfor %}
            </ul>
        #}
                {{ form_rest(form) }}
                </div>
                <div class="row text-right">
                    <button class="btn btn-success" type="submit">Create</button>
                </div>

            </form>
            {%endif%}
        </div>
    </div>
{#
<script>
// Récupère le div qui contient la collection de tags
    var collectionHolder = $('ul.images');

// ajoute un lien « add a tag »
    var $addPictureLink = $('<a href="#" class="add_tag_link">Ajouter une image</a>');
    var $newLinkLi = $('<li></li>').append($addPictureLink);

    jQuery(document).ready(function() {
        // ajoute l'ancre « ajouter un tag » et li à la balise ul
        collectionHolder.append($newLinkLi);

        $addPictureLink.on('click', function(e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();

            // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
            addImageForm(collectionHolder, $newLinkLi);
        });
    });

    function addImageForm(collectionHolder, $newLinkLi) {
        // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
        var prototype = collectionHolder.attr('data-prototype');

        // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
        // la longueur de la collection courante
        var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

        // Affiche le formulaire dans la page dans un li, avant le lien "ajouter une image"
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }

</script>
#}
{%endblock%}

