{% extends "okazoannoncesBundle::layout.html.twig" %}

{% block search%}{%endblock%} {# Pour ne pas afficher les champs de recherche durant la création d'annonce #}

{% block body %}
<h1>Annonces creation</h1>

<form action="{{ path('annonces_new') }}" method="post" {{ form_enctype(form) }}>

    {{ form_row(form.titre) }}
    {{ form_row(form.texte) }}

    <h3>Images</h3>
    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e}}">
        {# itère sur chaque tag existant et affiche son unique champ : name #}
        {% for image in form.images %}
        <li>{{ form_row(image.file) }}</li>
        {% endfor %}
    </ul>

    {{ form_rest(form) }}

    <p>
        <button type="submit">Create</button>
    </p>
</form>

<script>
// Récupère le div qui contient la collection de tags
    var collectionHolder = $('ul.images');

// ajoute un lien « add a tag »
    var $addPictureLink = $('<a href="#" class="add_tag_link">Ajouter une image</a>');
    var $newLinkLi = $('<li></li>').append($addPictureLink);

    jQuery(document).ready(function() {
        // ajoute l'ancre « ajouter un tag » et li à la balise ul
        collectionHolder.append($newLinkLi);

        $addPictureLink.on('click', function(e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();

            // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
            addImageForm(collectionHolder, $newLinkLi);
        });
    });

    function addImageForm(collectionHolder, $newLinkLi) {
        // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
        var prototype = collectionHolder.attr('data-prototype');

        // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
        // la longueur de la collection courante
        var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

        // Affiche le formulaire dans la page dans un li, avant le lien "ajouter une image"
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }

</script>

{%endblock%}

