{% extends "okazoadminBundle::layout.html.twig" %}

{% block adminContent %}
<ul class="nav nav-tabs">
    <li>
        <a href="#tabr1" data-toggle="tab">Administration Utilisateurs</a>
    </li>
    <li><a href="#tabr2" data-toggle="tab">Administration Annonces</a></li>
    <li><a href="#tabr3" data-toggle="tab">Administration Villes</a></li>
    <li><a href="#tabr4" data-toggle="tab">Autres</a></li>
    <li><a href="#tabr5" data-toggle="tab">Paramètres du site</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="tabr1">
        {{ render(controller('okazoadminBundle:admin:blockUserAdmin')) }}
    </div>
    <div class="tab-pane fade" id="tabr2">
        {{ render(controller('okazoadminBundle:admin:blockAdsAdmin')) }}
    </div>
    <div class="tab-pane fade" id="tabr3">
        <p>A implémenter</p>
    </div>
    <div class="tab-pane fade" id="tabr4">
        <a href="{{path('adminClearCache')}}">clear Cache</a>
        </br>
        <a target="_blank" href="https://www.google.com/analytics/web/?hl=fr&pli=1#report/visitors-overview/a40959596w70297497p72481346/">Google Analytics</a>
        </br>
        <a href="{{path('testMail')}}">Test Mail</a>
    </div>
    <div class="tab-pane fade" id="tabr5">
        {{ render(controller('okazoadminBundle:admin:blockWebsiteParameters')) }}
    </div>
</div>
{#
<div id="tabr1" class="tab-content" style="overflow: auto; height: 580px;">
            {{ render(controller('okazoadminBundle:admin:blockUserAdmin')) }}
        </div>
#}
{#
<div id="tabr2" class="tab-content" style="overflow: auto; height: 580px;">
        {{ render(controller('okazoadminBundle:admin:blockAdsAdmin')) }}
</div>
#}


{#
<div id="tabr3" class="tab-content" style="overflow: auto; height: 580px;">

</div>
<div id="tabr4" class="tab-content" style="overflow: auto; height: 580px;">
    <a href="{{path('adminClearCache')}}">clear Cache</a>
    </br>
    <a target="_blank" href="https://www.google.com/analytics/web/?hl=fr&pli=1#report/visitors-overview/a40959596w70297497p72481346/">Google Analytics</a>
    </br>
    <a href="{{path('testMail')}}">Test Mail</a>
</div>
<div id="tabr5" class="tab-content" style="overflow: auto; height: 580px;"
         {{ render(controller('okazoadminBundle:admin:blockWebsiteParameters')) }}
</div>
#}
<script>
    function raiseError(title, message, lifeDuration) {
        if (!lifeDuration) { lifeDuration=2000;}
        $.notific8(message, {
            life: lifeDuration,
            heading: title,
            theme: 'ruby',
            sticky: false,
            horizontalEdge: 'bottom',
            verticalEdge: 'left',
            zindex: 1500
        });
    }
    function raiseSuccess(title, message, lifeDuration) {
        if (!lifeDuration) { lifeDuration=2000;}
        $.notific8(message, {
            life: lifeDuration,
            heading: title,
            theme: 'lime',
            sticky: false,
            horizontalEdge: 'bottom',
            verticalEdge: 'left',
            zindex: 1500
        });
    }
    function raiseInformation(title, message, lifeDuration) {
        if (!lifeDuration) { lifeDuration=2000;}
        $.notific8(message, {
            life: lifeDuration,
            heading: title,
            theme: 'teal',
            sticky: false,
            horizontalEdge: 'bottom',
            verticalEdge: 'left',
            zindex: 1500
        });
    }

    function confirmBox(message) {
        var defer = $.Deferred();
        //confirmation box
        $('<div></div>').appendTo('body')
                .html('<div><h6>' + message + '</h6></div>')
                .dialog({
                    modal: true, title: 'Confirmation', zIndex: 10000, autoOpen: true, draggable: false,
                    width: '400px', resizable: false,
                    buttons: {
                        Yes: function() {
                            defer.resolve("yes"); //on Yes click, end deferred state successfully (done)
                            $(this).dialog("close");
                        },
                        No: function() {
                            defer.resolve("no");
                            $(this).dialog("close");
                        }
                    },
                    close: function(event, ui) {
                        $(this).remove();
                    }
                });
        return defer.promise(); //important to return the defer promise

    }
</script>
{% endblock adminContent%}