{% extends "okazoUserBundle::layout.html.twig" %}

{% block websiteHeader_Right %}
    <h1>Connexion à mon compte</h1>
{% endblock %}

{% block fos_user_content %}
    {#{% if websiteUseFacebookLogin %}#}
    {%if parameters['useFacebookLogin']%}
        {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();', 'culture': facebookLocale}) }}
        <script>
            function goLogIn(){
                window.location = "{{ path('_security_check') }}";
            }

            function onFbInit() {
                if (typeof(FB) != 'undefined' && FB != null ) {
                    FB.Event.subscribe('auth.statusChange', function(response) {
                        if (response.session || response.authResponse) {
                            setTimeout(goLogIn, 500);
                        } else {
                            window.location = "{{ path('_security_logout') }}";
                        }
                    });
                }
            }
        </script>
    {% endif %}
    
    {% if error %}
        <div class="notice error">
            <span class="icon medium" data-icon="X" style="display: inline-block;"></span>            
            {{ error|trans({}, 'FOSUserBundle') }}
            <a class="icon close" data-icon="x" href="#close" style="display: inline-block;"></a>
        </div>
    {% endif %}
        
    <div class="col_6">
        <p>Pas encore de compte ? <a href="{{path('fos_user_registration_register')}}">Créez gratuitement un compte.</a>
        <form  class="vertical" action="{{ path("fos_user_security_check") }}" method="post">    
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}<span class="right">{{ 'security.login.usernameOrMail'|trans({}, 'okazoMainBundle') }}</span></label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <br/>
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" />
            <br/>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me" style="display: inline-block">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            <br/>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />        
        </form>
        <p><a href="{{path('fos_user_resetting_request')}}">Mot de passe oublié ?</a></p>
    </div>
        
    {#{% if websiteUseFacebookLogin %}#}
    {%if parameters['useFacebookLogin']%}
        <div class="col_6">
            <div id="social_login">        
                {{ facebook_login_button({'autologoutlink': false}) }}        
            </div>
        </div>
    {% endif %}

{% endblock fos_user_content %}

