{%if parameters['showLogin']%}
{#{% if websiteShowLogin %}#}
    <div class="right" style="float: right;">
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <div id="dropdown2" class="ddmenu right">
                {{app.user.email}} <i class="icon-caret-down"></i>
                <ul>
                    <li><a href="{{path('annonces_new')}}">{{'ui.header.postNewAd'|trans({}, 'okazoMainBundle')}}</a></li>
                    <hr style="margin: 0;"/>
                    <li><a href="{{path('fos_user_profile_edit')}}">{{'pages.showProfile.name'|trans({},'okazoMainBundle')|capitalize}}</a></li>
                    <li><a href="{{path('fos_user_change_password')}}">{{'change_password.submit'|trans({},'FOSUserBundle')|capitalize}}</a></li>
                    <li><a href="{{path('fos_user_security_logout')}}">{{'ui.header.logout'|trans({}, 'okazoMainBundle')}}</a></li>
                    {%if app.debug %}
                        <hr style="margin: 0;"/>
                        <li><a href="{{path('test')}}">tests</a></li>
                    {%endif%}
                    {%if is_granted("ROLE_ADMIN") %}
                        <hr style="margin: 0;"/>
                        <li><a href="{{path('indexAdmin')}}">Administration</a></li>
                    {%endif%}
                </ul>
            </div>
        {% else %}
            {#
            {{ render (controller("okazoUserBundle:Security:blockLogin")) }}
            #}
            <a style="padding-right: 5px;" href="{{path('fos_user_security_login')}}">{{'ui.header.login'|trans({}, 'okazoMainBundle')}}</a>
        {% endif %}
    </div>
{%endif%}