{%if parameters['showLogin']%}

    <ul class="nav navbar-nav navbar-right">
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.user.email}} <b class="caret"></b></a>        
                <ul class="dropdown-menu">
                    <li><a href="{{path('annonces_new')}}">{{'ui.header.postNewAd'|trans({}, 'okazoMainBundle')}}</a></li>                
                    <li><a href="{{path('fos_user_profile_edit')}}">{{'pages.showProfile.name'|trans({},'okazoMainBundle')|capitalize}}</a></li>
                    <li><a href="{{path('fos_user_change_password')}}">{{'change_password.submit'|trans({},'FOSUserBundle')|capitalize}}</a></li>
                    <li><a href="{{path('fos_user_security_logout')}}">{{'ui.header.logout'|trans({}, 'okazoMainBundle')}}</a></li>
                    {%if app.debug %}
                        <li class="divider"></li>
                        <li><a href="{{path('test')}}">tests</a></li>
                    {%endif%}
                    {%if is_granted("ROLE_ADMIN") %}
                        <li class="divider"></li>
                        <li><a href="{{path('sonata_admin_dashboard')}}">Administration</a></li>
                        <li><a href="{{path('indexAdmin')}}">Administration</a></li>
                    {%endif%}
                </ul>

            </li>
        {%else%}
            <li class="dropdown">
                <li><a href="{{path('fos_user_security_login')}}">{{'ui.header.login'|trans({}, 'okazoMainBundle')}}</a></li>        
            </li>
        {%endif%}

    </ul>

{%endif%}