<div class="col-md-12 text-center">
<ul class="pagination">    
    
        {#On affiche le retour en première page, et le retour en page précédente#}
        <li class="{%if page<=1%}disabled{%endif%}"><a rel="first" href="{{url('homepage',{'page':1, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">&laquo;</a></li>
        <li class="{%if page<=1%}disabled{%endif%}"><a rel="prev" href="{{url('homepage',{'page':page-1, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">&lsaquo;</a></li>
    

    {%if nombrePages==0%}
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    {%else%}
        {%if nombrePages<11%}
            {# cas ou on a moins de 11 pages #}
            {%for i in 1..nombrePages %}
                {%if page==i%}
                    <li class="active"><a href="#">{{i|number_format(0,","," ")}} <span class="sr-only">(current)</span></a></li>
                    {#<span class="current">{{i|number_format(0,","," ")}}</span>#}
                {%else%}
                    <li class=""><a href="{{url('homepage',{'page':i, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">{{i|number_format(0,","," ")}} </a></li>
                    {#<a class="paginate page" href="{{url('homepage',{'page':i, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">{{i|number_format(0,","," ")}}</a>#}
                {%endif%}
            {%endfor%}
        {%else%}
            {%if page>6 and page<nombrePages-5%}
                {#Pages de milieu de liste#}
                {%for i in page-5..page+5 %}
                    {%if page==i%}
                        <li class="active"><a href="#">{{i|number_format(0,","," ")}} <span class="sr-only">(current)</span></a></li>
                        {#<span class="current">{{i|number_format(0,","," ")}}</span>#}
                    {%else%}
                        <li class=""><a href="{{url('homepage',{'page':i, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">{{i|number_format(0,","," ")}} </a></li>
                        {#<a class="paginate page" href="{{url('homepage',{'page':i, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">{{i|number_format(0,","," ")}}</a>#}
                    {%endif%}
                {%endfor%}
            {%elseif page>nombrePages-6%}
                {#Pages de fin de liste#}
                {%for i in nombrePages-10..nombrePages %}
                    {%if page==i%}
                        <li class="active"><a href="#">{{i|number_format(0,","," ")}} <span class="sr-only">(current)</span></a></li>
                        {#<span class="current">{{i|number_format(0,","," ")}}</span>#}
                    {%else%}
                        <li class=""><a href="{{url('homepage',{'page':i, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">{{i|number_format(0,","," ")}} </a></li>
                        {#<a class="paginate page" href="{{url('homepage',{'page':i, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">{{i|number_format(0,","," ")}}</a>#}
                    {%endif%}
                {%endfor%}
            {%else%}
                {#Pages de début de liste#}
                {%for i in 1..11 %}
                    {%if page==i%}
                        <li class="active"><a href="#">{{i|number_format(0,","," ")}} <span class="sr-only">(current)</span></a></li>
                        {#<span class="current">{{i|number_format(0,","," ")}}</span>#}
                    {%else%}
                        <li class=""><a href="{{url('homepage',{'page':i, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">{{i|number_format(0,","," ")}} </a></li>
                        {#<a class="paginate page" href="{{url('homepage',{'page':i, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">{{i|number_format(0,","," ")}}</a>#}
                    {%endif%}
                {%endfor%}
            {%endif%}
        {%endif%}
        
        <li class="{%if page>=nombrePages%}disabled{%endif%}"><a rel="next" href="{{url('homepage',{'page':page+1, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">&rsaquo;</a></li>
        <li class="{%if page>=nombrePages%}disabled{%endif%}"><a rel="last" href="{{url('homepage',{'page':nombrePages, 'q': getQuery, 'distance': getDistance, 'sortby': getSortBy, 'sortdirection': getSortDirection, 'lat': getLatitude, 'long': getLongitude, 'cat': categorieId})}}">&raquo;</a></li>
        
    {%endif%}
</ul>
</div>